.header {
    width: auto;
    height: 50px;
    background: rgb(255,203,5);
    background: linear-gradient(94deg, rgba(255,203,5,1) 10%, rgba(5,165,255,1) 30%, rgba(125,193,254,1) 50%, rgba(5,165,255,1) 70%, rgba(255,203,5,1) 90%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    overflow: hidden;
  }
  
  .logoPokemon {
    width: 5vw;
  }
  .pokemonsImagem{
    display: flex;
    width: 4vw;
    margin-left: 300px;
  }

  .menu a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration:dashed;
    font-size: 19px;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(106, 183, 255);
  }
  
  
  .menu a:hover {
      border-bottom: 5px solid #ffdb39;
  }
  
  .exit {
    background-color: #FFCB05;
    width: 4vw;
    padding: 0.3em;
    border: 1px solid #4B4B4F;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: center;


  }

  .exit :hover{
    cursor: pointer;
  }
  
  p {
   
    margin-top: 6px;
    font-size: 14px;
    font-weight: 300;
  }
  mat-icon{
  
    margin-top: 4px;
    font-size: 20px;
  }