.header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(94deg, rgba(255,203,5,1) 10%, rgba(5,165,255,1) 30%, rgba(125,193,254,1) 50%, rgba(5,165,255,1) 70%, rgba(255,203,5,1) 90%);

  }
  .logo{
    width: 20%;
  }

  .logoPokemon {
    padding: 5px 20px;
    width: 100px;
  }

  .menu{
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 60%;
  }
  .menu a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration:dashed;
    font-size: 19px;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(106, 183, 255);
  }


  .menu a:hover {
      border-bottom: 5px solid #ffdb39;
  }

  .exit {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px 20px;
    width: 20%;

  }

  .exit>button{
    display: flex;
    align-items: center;
    height: fit-content;
    background-color: #FFCB05;
    border: 1px;
    border-style:ridge;
    border-color: #000000;
    border-radius: 5px;
  }
  .exit>button :hover{
    cursor: pointer;
  }

  p {
   margin: 10px

  }
  mat-icon{
    margin-right: 10px;
  }
  .menuResponsivo{
  display: none !important;
  }
  .space{
    display: none !important;
  }

  @media (max-width:768px){
    .menu{
      display: none;
    }
    .exit{
      display: none;
    }
    .header{
      justify-content: end;
    }
    .logo{
      display: flex;
      width: 100% !important;
      justify-content: space-between;

    }

    .logo >img{
      width: 85px;

    }
    .space{
      display: flex !important;
      color: #00000000;
      width: 40px;
      margin: auto 0 auto 30px;
    }

    .menuResponsivo{
      background-color:#ffdb39 !important;
      display: flex !important;
      background-color: transparent;
      border: 1px;
      border-style: solid;
      border-radius: 5px;
      width: 40px;
      height: 40px;
      align-items: center;
      justify-content: center;
      margin: auto 30px auto 0;
    }
    mat-icon{
      margin: auto;
    }
  }

