<div class="container">
    <div class="loginForm">
        <img src="../../assets/images/logo1.svg" alt="">

        <p class="title">Comece a capturar seus pokémons!</p>

        <form>
            <div class="inputForm">
                <input id="email" type="email" formControlName="email" placeholder="Digite seu e-mail">
            </div>

            <div class="inputForm">
                <input id="password" type="password" formControlName="password" placeholder="Digite sua senha"><Br>
            
            </div>


            <div class="inputForm">
                <button class="botaoEntrar" type="submit">Entrar</button>
                <button class="botaoCadastrar" type="submit">Cadastre-se</button>
            </div>


        </form>
        <div class="divisoria"></div>

        <div class="loginAlternativo">
            <p>Ou faça login com</p>
            <a class="facebook" href=""><img src="../../assets/images/facebook.png"></a>              
            <a class="google"href=""><img src="../../assets/images/google.png"></a>
            <a class="twitter"href=""><img src="../../assets/images/twitter.png"></a>
        </div>
    </div>



    <div class="background">
        <div class="background-light"></div>
    </div>
</div>