<div class="container">
    <div class="loginForm">
        <img src="../../assets/images/logo1.svg" alt="">

        <p class="title">Comece a coletar pokémons!</p>

        <form>
            <div class="inputForm">
                <input id="email" type="email" formControlName="email" placeholder="Email">
            </div>

            <div class="inputForm">
                <input id="password" type="password" formControlName="password" placeholder="Senha">
            </div>


            <div class="inputForm">
                <button class="button" type="submit">Entrar</button>
            </div>

        </form>
    </div>


    <div class="background">
        <div class="background-light"></div>
    </div>
</div>