@import "../../assets/styles/images.scss";
@import "../../assets/fonts/fonts.scss";


.container {    
    text-align: center;
    overflow-y: hidden;
    overflow-x: hidden;
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.loginForm { 
    width: 40%;
    height: 100%;
    margin-left: 15vw;
    margin-top: 10vh;
    margin-right: 10vw;
    position: relative;
}

img {
    width: 15vw;
}

.background {
    width: 60%;
    height: 118%;

}

.background-light {
    width: 100%;
    height: 100%;
}

.inputForm{
    text-align: center;
}
button{
    margin-top: 25px;
    margin-left: 0.5vw;
    width: 7.5vw;
    height: 4vh;
    background-color: #FFCB05;
    border-radius: 15px;
    border-width: 1px;
    }

button:hover{
    cursor: pointer;
    font-size: 15px;
}

input{
    width: 50vh;
    margin-top: 3vh;
    background-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    height: 4vh;
}

form{
    margin-top: 5vh;
}

.divisoria{  
display: flex; 
width: 42vh;
height: 1px;
background-color: black;
margin-top: 3vh;
margin-left: 15%;
}

.loginAlternativo{
    margin-top: 15px;
    text-align: center;    


}
.facebook>img{
    width: 50px;
    height: 50px; 
    padding: 10px;   
}
.google>img{
    width: 50px;
    height: 50px;
    padding: 10px;
}
.twitter>img{
    width: 50px;
    height: 50px;
    padding: 10px;
}