.search {
  margin-top: 20px;
  display: flex;
  margin-bottom: 50px;
}
.example-form {
  display: flex;
  width: 40%;
  margin: auto;
}
.example-full-width {
  width: 100%;

  text-align: center;
  background-color: white;
  border-radius: 15px;
}
input {
  color: black;
  width: 88%;
  font-size: 18px;
  text-align: center;
  margin-top: 25px;
}

mat-label {
  font-size: 16px;
  display: inline-block;
  color: black;
}
.button {
  margin-top: -11px !important;
  color: white;
  width: 10%;
  height: 40px;
  background-color: #348ac7;
  border: none;
  border-radius: 15px;
  display: inline-block;
}
.button:hover {
  cursor: pointer;
}
