.background-light {
    background-image: url("../images/light.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.background-dark {
    background-image: url("../images/dark.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.logoLogin {
    background: url("../images/logo1.svg");
}

.logoHeader {
    background-image: url("../images/logo2.svg");
}