/* Backgrounds */

.bg-light {    background-color: $gray-100; }
.bg-dark {    background-color: $gray-500; }

/* Colors */

.primary {       color: $primary; }
.secondary {       color: $secondary; }
.danger {       color: $danger; }
.success {       color: $success; }
.warning {      color: $warning; }
.white {      color: $white; }
.gray-500 {       color: $gray-500; }
.gray-400 {     color: $gray-400; }
.gray-300 {     color: $gray-300; }
.gray-200 {        color: $gray-200; }
.gray-100 {    color: $gray-100; }
