<div class="background">
  <div class="contain">
    <div class="filterGroup">
      <div class="filterItem">
        <button>Todos</button>
        <button (click)="pokemonsForType('fire')">Fire</button>
        <button (click)="pokemonsForType('electric')">Eletric</button>
        <button (click)="pokemonsForType('water')">Water</button>
        <button (click)="pokemonsForType('grass')">Grass</button>
        <button (click)="pokemonsForType('normal')" >Normal</button>
      </div>
    </div>

    <div class="listaCards">
      <div
        class="card"
        *ngFor="
          let pokemon of pokemonService.pokemons
            | paginate
              : {
                  itemsPerPage: 20,
                  currentPage: p,
                  totalItems: 151
                };
          index as i
        "
      >
        <div class="detalhes">
          <div class="imagemPokemon">
            <img [src]="pegarImagem(pokemon.id)" />
            <a (click)="favoritar(pokemon.name)"
              ><mat-icon class="favorite" *ngIf="favoritos.includes(pokemon.id)">favorite</mat-icon>
              <mat-icon class="noFavorite" *ngIf="!favoritos.includes(pokemon.name)">favorite_border</mat-icon></a
            >
          </div>

          <p class="nomePokemon">{{ pokemon.name | uppercase }}</p>
          <p class="idPokemon">ID: #{{ pokemon.id }}</p>
        </div>
        <div class="types" *ngFor="let type of pokemon.types">
          <div class="{{ type.type.name }}">
            <span class="type">{{ type.type.name | titlecase }}</span>
          </div>
        </div>
        <div class="verDetalhes">
          <button class="botaoVer" (click)="openDialog(pokemon.id - 1)">
            <p class="textButton">Ver Detalhes</p>
          </button>
        </div>
      </div>
    </div>
    <div class="pagination">
      <pagination-controls
        previousLabel=""
        nextLabel=""
        (pageChange)="changePage($event)"
      ></pagination-controls>
    </div>
  </div>
</div>
